#habilidades .softs__group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#habilidades .soft {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-3);
  color: var(--color-text);
  padding: 40px 25px;
  isolation: isolate;
  cursor: pointer;
}
#habilidades .soft::before,
#habilidades .soft::after {
  content: "";
  position: absolute;
}

#habilidades .soft::before {
  width: 200%;
  height: 200%;
  background-image: conic-gradient(
    var(--color-primary),
    transparent 60deg,
    transparent 180deg,
    var(--color-primary),
    transparent 240deg
  );
  inset: -50%;
  z-index: -2;
  animation: spin 9s linear infinite;
  animation-play-state: paused;
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}

#habilidades .soft:hover::before {
  animation-play-state: running;
}
#habilidades .soft::after {
  background: var(--color-ui-2);
  inset: 0.25rem;
  border-radius: calc(1.2rem - 0.25rem);
  z-index: -1;
  transition: var(--transition);
}
#habilidades .soft .soft__top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}
#habilidades .soft .title {
  font-size: 25px;
  background: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-white) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#habilidades .soft .description {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  transition: var(--transition);
}
#habilidades .soft:hover .description {
  color: var(--color-text);
}

#habilidades .soft .soft__bottom {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#habilidades .soft:hover .soft__bottom {
  bottom: 0;
}

#habilidades .soft .btn.btn__primary {
  background: linear-gradient(
    260deg,
    var(--color-secondary) 0%,
    var(--color-primary) 100%
  );
  background-size: 200% auto;
}
#habilidades .soft .btn.btn__primary:hover {
  background-position: right center !important;
}

/* ======= MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1000px) {
  #habilidades .softs__group {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  #habilidades .soft__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
